<section data-ng-controller="CancertypesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="cancertype.symbol"></h1>
	</div>
	<div class="">
		<div data-ng-repeat="nctId in cancertype.nctIds | orderBy: nctId" style='float:left; margin: 2px 4px; padding: 2px 5px; border: 1px solid black; color:black' ng-href="#!/trials/{{nctId}}">{{nctId}}</div>
	</div>
	<!-- <div class="pull-right" data-ng-show="authentication.user._id == cancertype.user._id">
		<a class="btn btn-primary" href="/#!/cancertypes/{{cancertype._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="cancertype.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="cancertype.user.displayName"></span>
		</em>
	</small> -->
</section>