<br/><br/><br/>
<section data-ng-controller="HomeController" data-ng-init="find()">


	<div class="col-md-2" ng-show="showRefine">

		<h3>Curation Status</h3>
		<!--
                <select class="form-control" ng-model="statusVal" ng-change="getCriteria(true, statusVal, 'status')" ng-init="statusVal='all'">
                    <option value="all">All</option>
                    <option value="1">Not Curated</option>
                    <option value="2">Curatioption>
                    <option value="3">Curated</option>

                </select> -->

                <div class="radio">
                <label><input type="radio" ng-model="status" value="4" ng-change="getCriteria('all', status, 'status')">All</label><br/>
                <label><input type="radio" ng-model="status" value="1" ng-change="getCriteria(false, status, 'status')">Not Curated</label><br/>
                <label><input type="radio" ng-model="status" value="2" ng-change="getCriteria(true, status, 'status')">In Progress</label><br/>
                <label><input type="radio" ng-model="status" value="3" ng-change="getCriteria(true, status, 'status')">Completed</label>
                </div>
		<h3>Recruit Status</h3>

		<!--<div class="radio">-->
			<!--<label><input type="radio" ng-model="recruit" value="" ng-change="getCriteria('all', recruit, 'recruit')">All</label><br/>-->
			<!--<label><input type="radio" ng-model="recruit" value="Not yet recruiting" ng-change="getCriteria(false, recruit, 'recruit')">Not yet recruiting</label><br/>-->
			<!--<label><input type="radio" ng-model="recruit" value="Recruiting" ng-change="getCriteria(true, recruit, 'recruit')">Recruiting</label><br/>-->
			<!--<label><input type="radio" ng-model="recruit" value="Enrolling by invitation" ng-change="getCriteria(true, recruit, 'recruit')">Enrolling by invitation</label><br/>-->
			<!--<label><input type="radio" ng-model="recruit" value="Active, not recruiting" ng-change="getCriteria(true, recruit, 'recruit')">Active, not recruiting</label><br/>-->
			<!--<label><input type="radio" ng-model="recruit" value="Completed" ng-change="getCriteria(true, recruit, 'recruit')">Completed</label>-->

		<!--</div>-->

		<div class="checkbox" ng-repeat="a in recruitingStatus">
			<input id="{{a}}" ng-model="recruit" ng-change="getCriteria(recruit, a, 'recruit')" type="checkbox" ng-checked="chosenRecruits.indexOf(a) !== -1"><label for="{{a}}"> {{a}}</label>
		</div>

		<h3>Location</h3>
<!--
		<div class="radio">
			<label><input type="radio" name="country" id="USRadio" ng-click="hideAllCountries()" checked>United States</label>
		</div>
		<div class="radio">
			<label><input type="radio" id="countriesRadio" ng-click="showAllCountries()"  name="country">All Countries</label>
		</div>
-->
		<div ng-show="allCountries">
			<select chosen multiple ng-options="x as x for x in countries" class="multiSelect" data-placeholder="Select Countries" ng-model="country" ng-change="getCriteria(country, country, 'country')">
			</select>
			<br/><br/>
		</div>

		<h3>Tumor Types</h3>
		<select chosen multiple ng-options="m as m for m in tumorTypes" class="multiSelect" data-placeholder="Select Tumor Types" ng-model="tumor" ng-change="getCriteria(tumor, tumor, 'tumor')">
		</select>
		<br/><br/>


		<h3>Gene</h3>
		<div class="checkbox" ng-repeat="y in genes">
			<input id="{{y}}" ng-model="gene" ng-change="getCriteria(gene, y, 'gene')" type="checkbox" ng-checked="chosenGenes.indexOf(y) !== -1"><label for="{{y}}"> {{y}}</label>
		</div>


		<h3>Mutation</h3>
		<div class="checkbox" ng-repeat="z in mutations">
			<input id="{{z}}" ng-model="mutation" ng-change="getCriteria(mutation, z, 'mutation')" type="checkbox" ng-checked="chosenMutations.indexOf(z.mutationID) !== -1"><label for="{{z}}"> {{z.gene + '   ' + z.alteration}}</label>
		</div>

		<br/><br/>
		<small>
			<em class="text-muted">
				Powered by OncoKB
			</em>
		</small>
	</div>
	<div class="container col-md-10">

		<div class="input-group input-group-lg">
			<input type="text" class="form-control" ng-model="searchKeyword" name="keywordInputBox" placeholder="Enter the type of cancer to begin your search" aria-describedby="sizing-addon1">
			<span class="input-group-addon" id="sizing-addon1"><i class="fa fa-search fa-lg searchIcon" ng-click="search()"></i></span>
		</div>
		<br/><br/>
		<div ng-if="loading">
			<img style="width:100px; height:100px" src="modules/core/img/loaders/loading.gif">
		</div>


		<div ng-if="showResult" class="well list-group">
			<h2>MATCHING TRIALS | {{filteredTrials.length}}</h2><br/>
			<a data-ng-repeat="trial in filteredTrials = (trials | filter: searchCriteria())  " data-ng-href="#!/trials/{{trial.nctId}}" class="list-group-item">
				<div>
					<h3 data-ng-bind="trial.title"></h3>
					<h3><small><p class="lead">{{trial.nctId}} <br/> {{trial.phase}}<br/> {{trial.recruitingStatus}}<br/> {{trial.countries.join(', ')}}</p></small></h3>

					<div ng-if="trial.fetchedAlterations.length > 0" ng-repeat="x in trial.fetchedAlterations" >
						<h1><small>
							<span style="float:left; margin-bottom: 10px" ng-if="x.confirmStatus == 'unconfirmed'" class="label label-warning" >{{x.gene + "     " + x.alteration}}</span>

							<span style="float:left" ng-if="x.alteration_Id !== undefined && (x.status == 'manually' || x.confirmStatus == 'confirmed')" class="label label-success" >{{x.gene + "     " + x.alteration}}</span>

							<span style="float:left" ng-if="x.confirmStatus == 'excluded'" class="label label-danger">{{x.gene + "     " + x.alteration}}</span>

						</small></h1>

					</div>
					<br/><br/><br/>
					<div ng-if="trial.fetchedAlterations.length === 0" >
						<p>No Alteration Info Available at this time</p>
					</div>


				</div>
			</a>

		</div>

	</div>
<br/><br/><br/>


	<div ng-show="!showRefine">
	<div class="panel panel-default" style="width: 45%; float:left; margin:10px; ">
		<div class="panel-heading">Total # of Genomically Defined Clinical Trails: 4, 832</div>
		<div class="panel-body" style="overflow-x: auto" id="geneTrails">
			<img src="modules/core/img/loaders/loading.gif" style="width: 100px; height: 100px;" ng-if="loadingGeneData">
		</div>
		<br/>
	</div>

	<div class="panel panel-default" style="width: 45%; float:left;margin:10px">
		<div class="panel-heading">Total # of Cancer Associated Clinical Trials in the US: 15, 014</div>
		<div class="panel-body" id="tumorTypeTrials" style="overflow-x: auto">
			<img src="modules/core/img/loaders/loading.gif" style="width: 100px; height: 100px;" ng-if="loadingTumorData">
		</div>
		<br/>
	</div>
	<div class="panel panel-default" style="width: 45%; float:left;margin:10px">
		<div class="panel-heading">Total # of Cancer Associated Clinical Trials in the US: 15, 014</div>
		<div class="panel-body" id="USTrials" style="width: 480px; height: 400px;">
			<img src="modules/core/img/loaders/loading.gif" style="width: 100px; height: 100px;" ng-if="loadingStatusData">
		</div>
		<br/>
	</div>
	<div class="panel panel-default" style="width: 45%; float:left;margin:10px">
		<div class="panel-heading">Total # of Cancer Associated Clinical Trials in the US: 15, 014</div>
		<div class="panel-body" id="curationStatus" style="width: 480px; height: 400px;">
			<img src="modules/core/img/loaders/loading.gif" style="width: 100px; height: 100px;" ng-if="loadingCurationStatusData">
		</div>
		<br/>
	</div>
</div>

</section>
