<br/><br/><br/>
<section data-ng-controller="HomeController" data-ng-init="find()">


	<div class="col-md-2" ng-show="showRefine">

		<h3>Curation Status</h3>

		<div class="radio" ng-init="status=1">
		<label><input type="radio" ng-model="status" value="1" ng-change="getCriteria('all', '', 'status')">All</label><br/>
		<label><input type="radio" ng-model="status" value="2" ng-change="getCriteria(false, 'incomplete', 'status')">Incomplete</label><br/>
		<label><input type="radio" ng-model="status" value="3" ng-change="getCriteria(true, 'complete', 'status')">Complete</label>
	</div>

		<h3>Location</h3>

		<div class="radio">
			<label><input type="radio" name="country" id="USRadio" ng-click="hideAllCountries()" checked>United States</label>
		</div>
		<div class="radio">
			<label><input type="radio" ng-click="showAllCountries()"  name="country">All Countries</label>
		</div>

		<div ng-show="allCountries">
			<select chosen multiple ng-options="x as x for x in countries" style="width:200px;" data-placeholder="Select Countries" ng-model="country" ng-change="getCriteria(country, country, 'country')">
			</select>
			<br/><br/>
		</div>

		<h3>Gene</h3>
		<div class="checkbox" ng-repeat="y in genes">
			<input id="{{y}}" ng-model="gene" ng-change="getCriteria(gene, y, 'gene')" type="checkbox"><label for="{{y}}"> {{y}}</label>
		</div>


		<h3>Mutation</h3>
		<div class="checkbox" ng-repeat="z in mutations">
			<input id="{{z}}" ng-model="mutation" ng-change="getCriteria(mutation, z, 'mutation')" type="checkbox"><label for="{{z}}"> {{z.gene + '   ' + z.alteration}}</label>
		</div>

		<h3>Tumor Types</h3>
<br/>
		<select chosen multiple ng-options="m as m for m in tumorTypes" style="width:200px;" data-placeholder="Select Tumor Types" ng-model="tumor" ng-change="getCriteria(tumor, tumor, 'tumor')">
		</select>
		<br/>

		<br/><br/>
		<small>
			<em class="text-muted">
				Powered by OncoKB
			</em>
		</small>
	</div>
	<div class="container col-md-10">

		<div class="input-group input-group-lg">
			<input type="text" class="form-control" ng-model="searchKeyword" name="keywordInputBox" placeholder="Enter the type of cancer to begin your search" aria-describedby="sizing-addon1">
			<span class="input-group-addon" id="sizing-addon1"><i class="fa fa-search fa-lg searchIcon" ng-click="search()"></i></span>
		</div>

		<br/><br/>
		<div ng-if="loading">
			<img style="width:100px; height:100px" src="modules/core/img/loaders/loading.gif">
		</div>


		<div ng-if="showResult" class="well list-group">
			<h2>MATCHING TRIALS | {{filteredTrials.length}}</h2><br/>
			<a data-ng-repeat="trial in filteredTrials = (trials | filter: searchCriteria())  " data-ng-href="#!/trials/{{trial.nctId}}" class="list-group-item">
				<div>
					<h3 data-ng-bind="trial.nctId"></h3>
					<h3><small><p class="lead">Title: {{trial.title}} <br/>Phase: {{trial.phase}}<br/>Recruiting Status: {{trial.recruitingStatus}}<br/>Country: {{trial.countries.join(', ')}}</p></small></h3>
				</div>
			</a>

		</div>

	</div>

</section>

