.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty{
    border-color:#FA787E;
}
.ng-valid.ng-dirty{
    border-color:#78FA89;
}

h1 span {
	font-size: 20px;
	margin: 0 10px;
}
.resultStyle{
	font-size: 20px;
}
.searchIcon{
	cursor:pointer;
	margin:0;
	padding:0;
}
.multiSelect{
	width:200px;
}
.plotlyChart{
	width: 45%;
	float:left;
	margin:10px
}
.chartOverflow{
	overflow-y: auto;
	max-height:400px;
}
.pieChartStyle{
	width: 480px;
	height: 400px;
}
.loadingLogo{
	width: 100px;
	height: 100px;
}
.filterStyle{
	max-height: 80px;
	overflow-y: auto
}
.floatStyle{
	float:left;
}
