<section data-ng-controller="MappingsController" ng-init="init()">
	<div style="margin-top: 30px;" class="row">
		<select chosen
	        data-placeholder="Pick one of Genes"
	        allow-single-deselect="true"
	        ng-model="selectedVariants.gene"
	        ng-options="gene.symbol for gene in genes" style='width:24%'>
	        <option></option>
		</select>

		<select chosen
	        data-placeholder="Pick one of Alterations"
	        allow-single-deselect="true"
	        ng-model="selectedVariants.alt"
	        ng-options="alt.symbol for alt in alts" style='width:24%'>
	        <option></option>
		</select>

		<select chosen
	        data-placeholder="Pick one of Tumor Types"
	        allow-single-deselect="true"
	        ng-model="selectedVariants.cancerType"
	        ng-options="cancerType.symbol group by cancerType.tissue for cancerType in cancerTypes" style='width:24%'>
	        <option></option>
		</select>

		<button class="btn btn-info" ng-click="search()">Search</button>
		<button ng-if="authentication.user.username === 'zhx'" class="btn btn-info" ng-click="example()">Example</button>
		<!-- <select chosen
	        data-placeholder="Pick one of Drug"
	        disable-search="true"
	        ng-model="selectedCancerType"
	        ng-options="drug.symbol for drug in drugs" style='width:24%'>
		</select> -->
	</div>
	<div class="row">
		<div id="venn"></div>
	</div>
	<!-- <div class="list-group row" style="margin-top:20px;">
        <div data-ng-repeat="group in trailGroups" class="list-group-item">
			<h4 class="list-group-item-heading">{{group.name}}&nbsp;&nbsp;({{group.nctIds.length}} elements)</h4>
            <p>{{group.nctIds.join(', ')}}</p>
        </div>
    </div> -->
    <div ng-if="trials.length > 0">
		<p><span style="font-size: 18px;font-weight: bold">{{selectedGroup.name}} ({{selectedGroup.size}} element<span ng-if="selectedGroup.nctIds.length > 1">s)</span></span><span ng-if="showCheckbox(value.symbol)" ng-repeat="(key, value) in selectedVariants" ><input id="box{{$index}}" type="checkbox" ng-model="checkboxVal[key]"><label for="box{{$index}}">{{value.symbol}}</label></span></p>
		<div>
            <table class="table" datatable="ng" dt-options="dtOptions" dt-columns="dtColumns">
                <thead><tr><th>ID</th><th>Status</th><th>Study</th><th></th></tr></thead>
                <tbody>
                    <tr data-ng-repeat="trial in selectedTrials" data-ng-href="#!/trials/{{trial.nctId}}">
                        <td>{{$index + 1}}</td>
                        <td style="color: green"><b>{{trial.recruitingStatus}}</b></td>
                        <td>
                            <p><b><a ng-href="#!/trials/{{trial.nctId}}" target="_blank">{{trial.title}}</b></a></p>
                            <p><table class="table boldTFC">
                            <tr><td>NCT ID:</td><td>{{trial.nctId}}</td></tr>
                            <tr><td>Phase:</td><td>{{trial.phase}}</td></tr>
                            <tr><td>Intervention:</td><td>{{trial.intervention}}<span ng-if="trial.intervention === ''">None.</span></td></tr>
                            <tr><td>Eligibility Criteria:</td><td><span ng-repeat="criteria in trial.eligibilityCriteria" ng-bind-html="criteria"></span><span ng-if="trial.eligibilityCriteria.length === 0">None.</span></td></tr>
                            </table></p>
                        </td>
                        <td><button class="btn btn-info">Assign</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <small>
            <em class="text-muted">
                Powered by OncoKB
            </em>
        </small>
    </div>
</section>