<section data-ng-controller="MappingsController" ng-init="init()">
	<div style="margin-top: 30px;" class="row">
		<select chosen
	        data-placeholder="Pick one of Genes"
	        allow-single-deselect="true"
	        ng-model="selectedGene"
	        ng-options="gene.symbol for gene in genes" style='width:24%'>
	        <option></option>
		</select>

		<select chosen
	        data-placeholder="Pick one of Alterations"
	        allow-single-deselect="true"
	        ng-model="selectedAlt"
	        ng-options="alt.symbol for alt in alts" style='width:24%'>
	        <option></option>
		</select>

		<select chosen
	        data-placeholder="Pick one of Tumor Types"
	        allow-single-deselect="true"
	        ng-model="selectedCancerType"
	        ng-options="cancerType.symbol group by cancerType.tissue for cancerType in cancerTypes" style='width:24%'>
	        <option></option>
		</select>

		<button class="btn btn-info" ng-click="search()">Search</button>
		<button ng-if="authentication.user.username === 'zhx'" class="btn btn-info" ng-click="example()">Example</button>
		<!-- <select chosen
	        data-placeholder="Pick one of Drug"
	        disable-search="true"
	        ng-model="selectedCancerType"
	        ng-options="drug.symbol for drug in drugs" style='width:24%'>
		</select> -->
	</div>
	<div class="row">
		<div id="venn"></div>
	</div>
	<!-- <div class="list-group row" style="margin-top:20px;">
        <div data-ng-repeat="group in trailGroups" class="list-group-item">
			<h4 class="list-group-item-heading">{{group.name}}&nbsp;&nbsp;({{group.nctIds.length}} elements)</h4>
            <p>{{group.nctIds.join(', ')}}</p>
        </div>
    </div> -->
    <div ng-if="selectedGroup.nctIds.length > 0">
		<h4>{{selectedGroup.label}} ({{selectedGroup.size}} element<span ng-if="selectedGroup.nctIds.length > 1">s)</span></h4>
		<div>
            <table class="table">
                <thead><tr><th>Status</th><th>Study</th></tr></thead>
                <tbody>
                    <tr data-ng-repeat="trial in trials" data-ng-href="#!/trials/{{trial.nctId}}">
                        <td><b>{{trial.recruitingStatus}}</b></td>
                        <td>
                            <p><b><a ng-href="#!/trials/{{trial.nctId}}">{{trial.title}}</b></a></p>
                            <p><b>NCT ID:</b> {{trial.nctId}}</p>
                            <p><b>Phase:</b> {{trial.phase}}</p>
                            <p><b>Intervention:</b> {{getDrugs(trial.drugs)}}</p>
                            <p ng-bind-html="trial.eligibilityCriteria"></p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>