<section data-ng-controller="TrialsController">
    <div class="row">
        <div class="input-group col-lg-6 col-md-6" style="margin-top:50px" >
    	  	<input type="text" class="form-control" ng-model='nctId' placeholder='Please input NCT ID'>
    	  	<span class="input-group-addon" ng-click='assignTrailBynctId()'>Assign Trial</span>
    	</div>
    </div>
    <div class="row assign">
        <div ng-if="trialGenes.length > 0" class="col-lg-4 col-md-4">
            <p>Associate genes</p>
            <div>
                <ul class="nav nav-list">
                    <li ng-repeat="trailGene in trialGenes">
                    <input id="box{{$index}}" type="checkbox" ng-model="checkboxVal[key]" checked><label for="box{{$index}}">{{trailGene.symbol}}</label></li>
                </ul>
            </div>
        </div>
    </div>
</section>