<section data-ng-controller="TrialsController" data-ng-init="find()">

    <div class="page-header">
        <h1>Trials</h1>
    </div>
        <div class="list-group">

            <a data-ng-repeat="trial in trials | limitTo: countNum" data-ng-href="#!/trials/{{trial.nctId}}" class="list-group-item">

                <div>
                    <h3>{{trial.title}}</h3>
                    <h3><small><p class="lead">{{trial.nctId}} <br/> {{trial.phase}}<br/>
                        {{trial.recruitingStatus}}<br/> {{trial.countries.join(', ')}}</p></small></h3>

                </div>
            </a>
        </div>

</section>
