<head>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<style>
		table, th , td  {
			border-collapse: collapse;
			padding: 5px;
		}
		table tr:nth-child(odd)	{
			background-color: #f1f1f1;
		}
		table tr:nth-child(even) {
			background-color: #ffffff;
		}
	</style>
</head>
<!--

<section data-ng-controller="TrialsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="trial.nctId"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == trial.user._id">
		<a class="btn btn-primary" href="/#!/trials/{{trial.nctId}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<div>
		<table class="table">
			<tr ng-repeat="(key, value) in trial">
				<td>{{key}}</td>
				 <td ng-bind-html="beautify(value)"></td>

			</tr>
		</table>
	</div>
	<small>
		<em class="text-muted">
			Powered by OncoKB
		</em>
	</small>
</section>
-->
<section data-ng-controller="TrialsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="trial.nctId"></h1>
	</div>

		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#home">INTRODUCTION</a></li>
			<li><a data-toggle="tab" href="#menu1">ELIGIBILITY</a></li>
			<li><a data-toggle="tab" href="#menu2">OTHERS</a></li>
		</ul>

		<div class="tab-content">
			<div id="home" class="tab-pane fade in active">
				<div class="row">
					<div class="col-sm-4 panel panel-default">
						<div class="panel-body">
							<h1>Overview</h1>
							<hr>

							<h4>COUNTRIES</h4>
							<h2><small>
								<ul>
									<li ng-repeat="x in trial.countries">
										{{ x }}
									</li>
								</ul>
							</small></h2>
							<div ng-repeat="x in overviewItems">
								<h4>{{x | uppercase}}</h4>
								<h2><small><p ng-if="trial[x]" data-ng-bind="trial[x]"></p></small></h2>
							</div>

						</div>
					</div>
					<div class="col-sm-8">
						<h4>TITLE</h4>
						<blockquote><p data-ng-bind="trial.title"></p></blockquote>
						<h4>PURPOSE</h4>
						<blockquote><p data-ng-bind="trial.purpose"></p></blockquote>

					</div>
				</div>
			</div>
			<div id="menu1" class="tab-pane fade">
				<h2>IS THIS STUDY RIGHT FOR ME?</h2>
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#inclusion">Inclusion Criteria</a></li>
					<li><a data-toggle="tab" href="#exclusion">Exclusion Criteria</a></li>
				</ul>

				<div class="tab-content">
					<div id="inclusion" class="tab-pane fade in active">
						<blockquote><p>{{getEligibility(trial.eligibilityCriteria,"inclusion")}}</p></blockquote>
					</div>
					<div id="exclusion" class="tab-pane fade">
						<blockquote><p>{{getEligibility(trial.eligibilityCriteria,"exclusion")}}</p></blockquote>
					</div>
				</div>
			</div>
			<div id="menu2" class="tab-pane fade">
				<h3>DRUGS </h3>
				<table class="table">
					<tr>
						<th ng-repeat="x in drugHeader">{{x}}</th>
					</tr>
					<tr ng-repeat="x in trial.drugs">
						<td ng-repeat="y in drugItems" data-ng-bind="x[y]"></td>
					</tr>
				</table>
				<br/>
				<h3>TUMORTYPES</h3>
				<table class="table">
					<tr>
						<th ng-repeat="x in tumorHeader">{{x}}</th>
					</tr>
					<tr ng-repeat="x in trial.tumorTypes">
						<td ng-repeat="y in tumorItems" data-ng-bind="x[y]"></td>
					</tr>
				</table>
				</div>

		</div>


	<small>
		<em class="text-muted">
			Powered by OncoKB
		</em>
	</small>
</section>