
<section data-ng-controller="TrialsController" data-ng-init="findOne()">
	<span class="content_right_head" ng-click="showAllTitle()" ng-show="!showVar">{{trial.title}}</span>
	<span class="content_all" ng-show="showVar">{{trial.title}}</span>

	<div class="row">
		<div class="col-sm-4 panel panel-default">
			<div class="panel-body">
				<h1>Overview</h1>
				<hr>


				<div  ng-repeat="x in overviewItems">
					<h4>{{overviewHeader[$index] | uppercase}}</h4>
					<h2><small><p data-ng-bind="trial[x].length > 0 && trial[x] || 'No information available'"></p></small></h2>
				</div>
				<h4 ng-bind="trial.countries.length>1 && 'COUNTRIES' || 'COUNTRY' "></h4>
				<h2><small>
					<ul>
						<li ng-repeat="x in trial.countries">
							{{ x }}
						</li>
					</ul>
				</small></h2>
				<h4>DRUGS</h4>
				<h2><small><p ng-if="trial.drugs.length>0" ng-repeat="x in trial.drugs">{{x.drugName}}</p></small></h2>
				<h2><small><p ng-if="trial.drugs.length<1" >No information available</p></small></h2>

				<h4>TUMORTYPES</h4>
				<h2><small><p ng-if="trial.tumorTypes.length>0" ng-repeat="x in trial.tumorTypes">{{x.name}}</p></small></h2>
				<h2><small><p ng-if="trial.tumorTypes.length<1" >No information available</p></small></h2>



				<h4>GENES</h4>
				<p ng-show="trialGenes.length == 0 && true || false">No information available</p>
				<div ng-if="trialGenes.length > 0">
					<span class="trialSpanType" ng-repeat="x in trialGenes">
							<label>{{x.symbol}}</label>
							<i class="fa fa-trash-o " ng-click="deleteGene(x.symbol)"></i>
					</span>
				</div>
				<div class="input-group trialAddType" >
					<input type="text" ng-model="newGene" class="form-control" placeholder='Add gene'>
					<span class="input-group-addon" ng-click='addGeneBynctId()'><i class="fa fa-plus-circle"></i></span>
				</div>

				<h4>ALTERATIONS</h4>
				<p ng-show="trialAlterations.length == 0 && true || false">No information available</p>

				<div ng-if="trialAlterations.length > 0">
					<span class="trialSpanType" ng-repeat="x in trialAlterations">
							<label>{{x.symbol}}</label>
							<i class="fa fa-trash-o " ng-click="deleteAlteration(x.symbol)"></i>
					</span>
				</div>
				<div class="input-group trialAddType" >
					<input type="text" class="form-control" ng-model='newAlteration' placeholder='Add alteration'>
					<span class="input-group-addon" ng-click='addAlterationBynctId()'><i class="fa fa-plus-circle"></i></span>
				</div>

				<h4>CANCER TYPES</h4>

				<p ng-show="trialCancertypes.length == 0 && true || false">No information available</p>
				<div ng-if="trialCancertypes.length > 0">
					<span class="trialSpanType" ng-repeat="x in trialCancertypes">
							<label>{{x.symbol}}</label>
							<i class="fa fa-trash-o " ng-click="deleteCancertype(x.symbol)"></i>
					</span>
				</div>
				<div class="input-group trialAddType" >
					<input type="text" class="form-control" ng-model='newCancertype' placeholder='Add cancer type'>
					<span class="input-group-addon" ng-click='addCancertypeBynctId()'><i class="fa fa-plus-circle"></i></span>
				</div>

			</div>
		</div>
		<div class="col-sm-8">

			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="heading">
						<h4 class="panel-title">
							<a role="button" data-toggle="collapse" href="#collapse" aria-expanded="true" aria-controls="collapseOne">
								Purpose
							</a>
						</h4>
					</div>
					<div id="collapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading">
						<div class="panel-body">
							<p data-ng-bind="trial.purpose"></p>

						</div>
					</div>
				</div>


				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingOne">
						<h4 class="panel-title">
							<a role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								Inclusion Criteria
							</a>
						</h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
						<div class="panel-body">
							<p ng-bind-html='getEligibility(trial.eligibilityCriteria,"inclusion")'></p>

						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingTwo">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								Exclusion Criteria
							</a>
						</h4>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
						<div class="panel-body">
							<p ng-bind-html='getEligibility(trial.eligibilityCriteria,"exclusion")'></p>

						</div>
					</div>
				</div>

			</div>
		</div>
	</div>





	<br/><br/>
	<small>
		<em class="text-muted">
			Powered by OncoKB
		</em>
	</small>
</section>
