pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

.assign div p{
    font-size: 20px;
    font-weight: bold;
    padding-top: 5px;
}

.assign>div{
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 5px;
}


table.table.trialTableStyle tr:nth-child(odd)	{
    background-color: #f1f1f1;
}
table.table.trialTableStyle tr:nth-child(even) {
    background-color: #ffffff;
}
.trialTable {
    table-layout: fixed;
    word-wrap: break-word;
 }

.trialTabTopMargin{
    margin-top: 20px;
}

.trialSpanType{
    margin-left:10px;
    margin-right:10px;
    margin-top:0px;
    margin-bottom:0px;
    height:30px;
    float:left;
}

.trialAddType{
    width:170px;

}