pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

.assign div p{
    font-size: 20px;
    font-weight: bold;
    padding-top: 5px;
}

.assign>div{
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 5px;
}


table.table.trialTableStyle tr:nth-child(odd)	{
    background-color: #f1f1f1;
}
table.table.trialTableStyle tr:nth-child(even) {
    background-color: #ffffff;
}
.trialTable {
    table-layout: fixed;
    word-wrap: break-word;
 }

.trialTabTopMargin{
    margin-top: 20px;
}

.trialSpanType{
    float:right;
}

.trialAddType{
    display:inline;
}
.content_right_head {
    display:inline-block;
    margin-top:20px;
    width:100%;
    font-size:25px;
    font-weight:500;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}

.content_all {
    display:inline-block;
    margin-top:20px;
    width:100%;
    font-size:25px;
    font-weight:500;

}

.headerStyle{
    font-size:20px;
    font-weight:1000;
}

.expandStyle
{
    float:right;
    font-size:20px
}

.addBGColor
{
    background-color:#F9F9F9
}

.redColor
{
    color: red;
}
.greenColor
{
    color:green;
}

.fixMargin
{
    margin: 7px;
}
.leftMargin
{
    margin-left:10px;
}

.chosen-container-single {
    width: 200px !important; /* or any value that fits your needs */
}
.criteria{
    list-style-type:none;
    padding-left:0;
}
.highlight{
    background-color:yellow;
}
.displayBlock{
    display:block
}
